<div class="container color-dark">
  <div class="col">
    <p>Adiciona um item à lista</p>
  </div>
  <div class="col">
    <p>Sua lista ({{ itemCount }})</p>
  </div>
</div>
<div class="container color-light" [@goals]="goals.length">
  <div class="col">
    <p class="sm">Use este formulário para adicionar um novo item à lista</p>
    <form>
      <input type="text" class="txt" name="item" placeholder="Lista de desejos"[(ngModel)]="goalText">
      <input type="submit" class="btn" [value]="btnText" (click)="addItem()">
    </form>
  </div>
  <div class="col">
    <p class="life-container" *ngFor="let goal of goals; let i = index" (click)="removeItem(i)">{{ goal }}</p>
  </div>
</div>
