<div class="container color-dark">
  <div class="col">
    <p>Adiciona um item à lista</p>
  </div>
  <div class="col">
    <p>Sua lista</p>
  </div>
</div>
<div class="container color-light">
  <div class="col">
    <p class="sm">Use este formulário para adicionar um novo item à lista</p>
    <form>
      <input type="text" class="txt" name="item" placeholder="Lista de desejos">
      <input type="submit" class="btn" value="Adicione um item">
    </form>
  </div>
  <div class="col">
    <p class="life-container">
      Gostaria de escalar o Evereste.
    </p>
  </div>
</div>
